*{margin: 0; padding: 0;}
.kutu{
	width: 500px; 
	height: 500px;
	background: url(back1.jpg);
	background-size: cover;
	transition: all 0.3s;
}
.kutu:hover{
	background: url(back2.jpg);
	background-size: cover;
}